<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="autodarts_visual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <autodarts_visual.Properties.Settings>
            <setting name="emailautodarts" serializeAs="String">
                <value />
            </setting>
            <setting name="pwautodarts" serializeAs="String">
                <value />
            </setting>
            <setting name="boardid" serializeAs="String">
                <value />
            </setting>
            <setting name="media" serializeAs="String">
                <value />
            </setting>
            <setting name="emaillidarts" serializeAs="String">
                <value />
            </setting>
            <setting name="pwlidarts" serializeAs="String">
                <value />
            </setting>
            <setting name="skipdarts" serializeAs="String">
                <value />
            </setting>
            <setting name="timetoend" serializeAs="String">
                <value />
            </setting>
            <setting name="messagestart" serializeAs="String">
                <value />
            </setting>
            <setting name="messageend" serializeAs="String">
                <value />
            </setting>
            <setting name="pathcaller" serializeAs="String">
                <value />
            </setting>
            <setting name="callervol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="randomcaller" serializeAs="String">
                <value />
            </setting>
            <setting name="randomcallereachleg" serializeAs="String">
                <value />
            </setting>
            <setting name="webhook" serializeAs="String">
                <value />
            </setting>
            <setting name="obs" serializeAs="String">
                <value />
            </setting>
            <setting name="vdz" serializeAs="String">
                <value />
            </setting>
            <setting name="bot" serializeAs="String">
                <value />
            </setting>
            <setting name="dbo" serializeAs="String">
                <value />
            </setting>
            <setting name="browserpath" serializeAs="String">
                <value />
            </setting>
            <setting name="dbouser" serializeAs="String">
                <value />
            </setting>
            <setting name="dbopw" serializeAs="String">
                <value />
            </setting>
            <setting name="portal" serializeAs="String">
                <value />
            </setting>
            <setting name="setupdone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="installdone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sliderpos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkboxrandomcaller" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxrandomcallereachleg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxskipdart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hostport" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="callerwtt" serializeAs="String">
                <value>http://localhost:8080/throw</value>
            </setting>
        </autodarts_visual.Properties.Settings>
    </userSettings>
</configuration>